body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: #14213d;
    margin: 0;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  body h1 {
    color: #f5f7fa;
    text-align: center;
    text-transform: capitalize;
    font-size: 38px;
  }
  
  label {
    color: #EDEFF2;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
  }
  

  span {
    color: #c90606;
    text-align: center;
    font-size: 18px;
    display: flex; 
       justify-content: center
  }
  body h3 {
    color: #f5f7fa;
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
  }

  body a  {
    color: #14213d;
 
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
  }

  
  

  .card {
   
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin: 2%;
    text-align: center;
    align-items: center;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid
  
  }
  
  
  .item{
    display:inline;
    margin: 6px;

  }

  .button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    touch-action: manipulation;
    vertical-align: middle;
  
    margin-top: 20px;

   
  }
  
  .button-5 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;

    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-align: center;
    margin-top: 30px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .card-image {
    width: 40%;
  }
  .button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .button-4:focus {
    outline: 1px transparent;
  }
  
  .button-4:before {
    display: none;
  }
  
  .button-4:-webkit-details-marker {
    display: none;
  }