.modal {
    text-align: center;
    margin: 2px;
    border-color: #fca311;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    top: 20%;
    left: 27%;
    width: 40%; /* Full width */
    height: 60%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    border: 2px;
    border-radius: 1em;
    opacity: 96%;
    border: solid 4px rgba(106, 104, 104, 0.171);
    border-radius: 6.5px;
  }
  
  .modal h1 {
  font-size: 15px;
  color: #0b1835;
  text-transform:initial;
  }